apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ rhai.operator.name }}
  namespace: {{ rhai.operator.namespace }}
spec:
  channel: {{ rhai.operator.channel }}
  installPlanApproval: Automatic
  name: {{ rhai.operator.name }}
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  config:
    env:
      - name: "DISABLE_DSC_CONFIG"
